<!--
******************************************************************************
* Copyright © 2017-2018 PTA GmbH.
* All rights reserved. This program and the accompanying materials
* are made available under the terms of the Eclipse Public License v1.0
* which accompanies this distribution, and is available at
* 
*     http://www.eclipse.org/legal/epl-v10.html
* 
******************************************************************************
-->

<body class="overview-body">
  <div style="min-width: 1048px; overflow: auto">
    <app-main-navigation></app-main-navigation>
  </div>
  <div>
    <app-module-grid>Loading UserModules...</app-module-grid>
  </div>
</body>